@model ProductStorage.ViewModels.Home.LatestAddedViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="col-sm-6 text-center">
    <h4>Latest storages added</h4>
    <div>
            @foreach (var item in Model.Storages)
            {
                @Html.ActionLink(item.Name, "Details", "Storage", new {id = item.Id}, null)
                ;
            }
    </div>
</div>
<div class="col-sm-6 text-center">
    <h4>Latest categories added</h4>
    <div>
        @foreach (var item in Model.Categories)
            {
            @Html.ActionLink(item.Name, "Details", "Category", new { id = item.Id }, null)
            ;
        }
    </div>
</div>
<div class="col-sm-6 text-center">
    <h4>Latest clients added</h4>
    <div>
        @foreach (var item in Model.Clients)
            {
            @Html.ActionLink(item.Name, "Details", "Client", new { id = item.Id }, null)
            ;
        }
    </div>
</div>
<div class="col-sm-6 text-center">
    <h4>Latest products added</h4>
    <div>
        @foreach (var item in Model.Products)
        {

            @Html.ActionLink(item.Name, "Details", "Product", new {id = item.Id}, null)
        }
    </div>
</div>
